<ion-header>
  <ion-toolbar>
    <ion-title>Más</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Otras opciones</ion-label>
    </ion-list-header>

    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Deportistas</ion-label>
    </ion-item>

    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-item>

    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Récords</ion-label>
    </ion-item>

    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Documentación</ion-label>
    </ion-item>

    <ion-item (click)="routingEscenarios()">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Escenarios</ion-label>
    </ion-item>

    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Fotos</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label (click)="presentAlert()">Acerca De...</ion-label>
      <p> App Version: {{app_version}}</p>
      <!--<div> <ion-button (click)="presentAlert()">Alerta</ion-button></div>-->
    </ion-item>
  </ion-list>
</ion-content>
