<!--<ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button label="Home" icon="home" href="/tabs/(inicio:inicio)">
    <ion-router-outlet name="inicio"></ion-router-outlet>
  </ion-tab-button>
  <ion-tab-button label="Calendario" icon="information-circle" href="/tabs/(calendario:calendario)">
    <ion-router-outlet name="calendario"></ion-router-outlet>
  </ion-tab-button>
  <ion-tab-button label="Deportes" icon="contacts" href="/tabs/(deportes:deportes)">
    <ion-router-outlet name="deportes"></ion-router-outlet>
  </ion-tab-button>
  <ion-tab-button label="Delegaciones" icon="contacts" href="/tabs/(delegaciones:delegaciones)">
    <ion-router-outlet name="delegaciones"></ion-router-outlet>
  </ion-tab-button>
  <ion-tab-button label="Mas" icon="contacts" href="/tabs/(mas:mas)">
    <ion-router-outlet name="mas"></ion-router-outlet>
  </ion-tab-button>
  </ion-tab-bar>-->

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button style="background-color: black" tab="inicio" href="/tabs/(inicio:inicio)">
      <ion-icon src="assets/img/inicio/inicio.svg"> size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="calendario" style="background-color: black" href="/tabs/(calendario:calendario)">
      <ion-icon src="assets/img/calendario/calendario.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="deportes" style="background-color: black" href="/tabs/(deportes:deportes)">
      <ion-icon src="assets/img/deportes/deportes.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="delegaciones" style="background-color: black" href="/tabs/(delegaciones:delegaciones)">
      <ion-icon src="assets/img/delegaciones/delegaciones.svg"></ion-icon>
      <!--<ion-label color="light">Delegaciones</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="mas" style="background-color: black" href="/tabs/(mas:mas)">
      <ion-icon src="assets/img/mas/mas.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
