<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Deportes</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content padding>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged()"></ion-searchbar>

  <ion-item>
    <ion-label>Select SearchType</ion-label>
    <ion-select (ionChange)="searchChanged()">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="deporte">Deportes</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of (results | async)" [routerLink]="['/', 'deportes', item.id]">
    <ion-item *ngFor="let item of (results | async)" [routerLink]="['deporte', item.nombre]">
      <h2>{{ item.id }}</h2>
    </ion-item>
  </ion-list>
</ion-content>-->

<ion-content>
  <ion-list inset>
    <ion-item *ngFor="let item of deportes">
      <ion-avatar item-start>
        <img [src]="url_img+item.pictograma">
      </ion-avatar>
      <h2>{{item.nombre}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
