<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-img src="assets/img/inicio/logo.png"></ion-img>
    <!--<ion-item *ngFor="let event of events"
              href="tabs/(inicio:event-details/{{event.id}})"
              detail="true">
      <ion-label>{{event.name}}</ion-label>
    </ion-item>-->
  </ion-list>
</ion-content>
